{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}

<div class="container">

    <ul class="card m-5 p-6 ">
        <li style="font-weight: 600; text-transform: capitalize;"  class="is-size-4">{{ jobs.job_title }}</li>
        <li style="font-weight: 500; text-transform: uppercase;"  class="mt-2 mb-2 is-size-6">{{ jobs.company_name }}</li>
      <div class="is-flex" style="font-size: .9rem;">
<li style="font-weight: 500; text-transform: uppercase;"  class="mt-2 mb-2  mr-5 ml-2"> <span class="mr-2">₹</span> {{ jobs.salary }} <span style="margin-left: 0.1rem;">PA</span> </li>
<li style="font-weight: 500; text-transform: uppercase;"  class="mt-2 mb-2 "> <i class="fa fa-map-marker" style="font-size: .9rem;"></i> {{ jobs.location }}</li>
      </div>  
        <li>{{ jobs.description }}</li>
       
        <hr/>
        {% if request.user == jobs.author %}
        <div class="is-flex is-justify-content-space-between	">
          <b>this job was posted by you</b> 
        
               <a href=" {% url 'delete' pk=jobs.pk %} "> <span class="material-symbols-outlined" style="color: rgb(137, 137, 137);">
        delete
               </a>
          
        </div>
               
        {% endif %}
                
    </ul>
    {% if request.user == jobs.author %}
    {% else %}
    <div class="mb-3">
        <div class="">
            <h5>Submit an application</h5>
        </div>
    </div>

    <div class="">
        <div class="">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div style="margin-bottom:2rem;">
                    
                    {{ form.request|add_class:"textarea is-primary"|attr:"type:textarea" }}
                </div> 
                <div class="d-grid gap-2">
                    <button class="button mt-4 is-small is-primary mb-6">Submit</button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}